<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>slsdeploy</title>
    <link rel="icon" href="data:image/vndmicrosofticon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAuKSQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

    </style>
  </head>
  <body>
    <section class="hero is-medium is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            <i class="fa fa-bolt fa-3x"></i>
            <i class="fa fa-cloud-upload fa-3x"></i>
          </h1>
          <h2 class="subtitle">
            slsdeploy
          </h2>
          <p><i class="fa fa-fw fa-github"></i>https://github.com/<strong>owner</strong>/<strong>repo</strong> <strong>somebranch</strong> <i class="fa fa-fw fa-arrow-right"></i> https://<%= host %>/<%= stage %>/<strong>owner</strong>/<strong>repo</strong>?branch=<strong>somebranch</strong></p>
        </div>
      </div>
    </section>
  </body>
</html>
